name: Image publishing
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 6 * * *"

jobs:
  image-publishing:
    name: Image publishing
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASS }}
      - name: Build container image and push to Quay.io
        run: |
          docker pull archlinux:latest
          docker build . -t quay.io/valdar/arch-build-aur -t valdar/arch-build-aur
          docker push quay.io/valdar/arch-build-aur
      - name: Login to Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Push container image to Dockerhub
        run: |
          docker push valdar/arch-build-aur
      - uses: gautamkrishnar/keepalive-workflow@v2